<div class="container">
	<div class="row">
		<div class="col s5">
			<div class="card">
				<div class="card-content">
					<form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
						<input type="hidden" name="_id" #_id="ngModel"
							[(ngModel)]="employeeService.selectedEmployee._id">
						<div class="row">
							<div class="input-field col-s12">
								<input type="text" name="name" #name="ngModel"
									[(ngModel)]="employeeService.selectedEmployee.name"
									placeholder="Enter your FullName">
							</div>
							<div class="input-field col-s12">
								<input type="text" name="position" #name="ngModel"
									[(ngModel)]="employeeService.selectedEmployee.position"
									placeholder="Enter your Position">
							</div>
							<div class="input-field col-s12">
								<input type="text" name="office" #name="ngModel"
									[(ngModel)]="employeeService.selectedEmployee.office"
									placeholder="Enter your Office">
							</div>
							<div class="input-field col-s12">
								<input type="text" name="salary" #name="ngModel"
									[(ngModel)]="employeeService.selectedEmployee.salary" value="0"
									placeholder="Enter your Salary">
							</div>
							<div class="card-action">
								<div class="input-field col-s12">
									<button class="btn right" style="margin-left: 2px;"
										(click)="resetForm(employeeForm)">Clean</button>
									<button class="btn right">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col s7">
			<table class="striped highlight black-text">
				<thead>
					<th>Name</th>
					<th>Position</th>
					<th>Office</th>
					<th>Operations</th>
				</thead>
				<tbody>
					<tr *ngFor="let employee of employeeService.employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.position }}</td>
						<td>{{ employee.office }}</td>
						<td>
							<a (click)="editEmployee(employee)">
								<i class="material-icons">edit</i>
							</a>
							<a (click)="deleteEmployee(employee._id, employeeForm)">
								<i class="material-icons">delete</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 col-xs-12">
	<div class="panel-group" id="accordion">

	</div>
</div>

<!-- 
<div class="container">
	<div class="row">

		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail4">Email</label>
					<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">Password</label>
					<input type="password" class="form-control" id="inputPassword4" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="inputAddress">Address</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
			</div>
			<div class="form-group">
				<label for="inputAddress2">Address 2</label>
				<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">City</label>
					<input type="text" class="form-control" id="inputCity">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">State</label>
					<select id="inputState" class="form-control">
						<option selected>Choose...</option>
						<option>...</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<label for="inputZip">Zip</label>
					<input type="text" class="form-control" id="inputZip">
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck">
					<label class="form-check-label" for="gridCheck">
						Check me out
					</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
</div> -->