<!-- <div class="container">
	<div class="form-row" style="padding-top:30px">
		<div class="form-group col-md-4">
			<label for="cboTipoDocumento">Tipo Documento.:</label>
			<select id="idTipoPersona" class="form-control">
				<option>
					&lt;--Tipo Persona--&gt;
				</option>
				<option>Persona Natural</option>
				<option>Persona Juridica</option>
			</select>
		</div>
		<div class="form-group col-md-4">
			<label for="nroDocumento">Numero Documento.:</label>
			<select id="idTipoDocumento" class="form-control">
				<option>
					&lt;--Tipo Documento--&gt;
				</option>
				<option>DNI</option>
				<option>RUC</option>
				<option>Pasaporte</option>
				<option>Carnet de Extranjeria</option>
			</select>
		</div>
		<div class="form-group col-md-4">
			<label for="nroDocumento">Numero Documento.:</label>
			<input id="txtNumeroDocumento" class="form-control" type="text" placeholder="Numero Documento"
				name="middle-name">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="cboTipoDocumento">Celular.:</label>
			<input id="txtNumeroDocumento" class="form-control" type="text" placeholder="Celular" name="middle-name">
		</div>
		<div class="form-group col-md-4">
			<label for="nroDocumento">Email.:</label>
			<input id="txtNumeroDocumento" class="form-control" type="text" placeholder="email" name="middle-name">
		</div>
		<div class="form-group col-md-4">
			<label for="nroDocumento">Estadi Civil.:</label>
			<select id="idTipoDocumento" class="form-control">
				<option>
					&lt;--Tipo Documento--&gt;
				</option>
				<option>Soltero</option>
				<option>Casado</option>
				<option>Vioda</option>
				<option>Divorciado</option>
			</select>
		</div>
	</div>


</div> -->
<app-menu></app-menu>
<div class="container">
	<div [hidden]="submitted">
		<h1>Datos Persona</h1>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="addEmployee(employeeForm)" #employeeForm="ngForm">
					<div class="form-row" style="padding-top:30px">
						<div class="form-group col-md-4">
							<label for="name">Tipo Persona</label>
							<select id="idTipoPersona" #tipopersona="ngModel" required class="form-control"
								[(ngModel)]="model.idTipoPersona" name="idTipoPersona" (change)="selectTipoPersona();">
								<option [ngValue]="k._id" *ngFor="let k of listaTipoPersona">
									{{k.tipo}}
								</option>
							</select>
							<div [hidden]="tipopersona.valid || tipopersona.pristine" class="alert alert-danger">
								Tipo persona es requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="name">Tipo documento</label>
							<select id="idTipoDocumento" #tipoDocumento="ngModel" required class="form-control"
								[(ngModel)]="model.idTipoDocumento" name="idTipoDocumento"
								(change)="selectTipoDocumento();">
								<option [ngValue]="k._id" *ngFor="let k of listaTipoDocumento">
									{{k.tipoDocumento}}
								</option>
							</select>
							<div [hidden]="tipoDocumento.valid || tipoDocumento.pristine" class="alert alert-danger">
								Tipo documento es requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="nroDocumento">Número documento</label>
							<input type="text" class="form-control" id="nroDocumento" required
								[(ngModel)]="model.nroDocumento" name="nroDocumento" #nroDocumento="ngModel">
							<div [hidden]="nroDocumento.valid || nroDocumento.pristine" class="alert alert-danger">
								Numero documento requerido
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="nombres">Nombres</label>
							<input type="text" class="form-control" id="nombres" required [(ngModel)]="model.nombres"
								name="nombres" #nombres="ngModel">
							<div [hidden]="nombres.valid || nombres.pristine" class="alert alert-danger">
								Nombres requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="apellidoPaterno">Apellido paterno</label>
							<input type="text" class="form-control" id="apellidoPaterno" required
								[(ngModel)]="model.apellidoPaterno" name="apellidoPaterno" #apellidoPaterno="ngModel">
							<div [hidden]="apellidoPaterno.valid || apellidoPaterno.pristine"
								class="alert alert-danger">
								Apellido paterno requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="apPaterno">Apellido materno</label>
							<input type="text" class="form-control" id="apellidoMaterno" required
								[(ngModel)]="model.apellidoMaterno" name="apellidoMaterno" #apellidoMaterno="ngModel">
							<div [hidden]="apellidoMaterno.valid || apellidoMaterno.pristine"
								class="alert alert-danger">
								Apellido materno requerido
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="celular">Celular</label>
							<input type="text" class="form-control" id="celular" [(ngModel)]="model.celular"
								name="celular" placeholder="Celular">
						</div>
						<div class="form-group col-md-4">
							<label for="Emal">Email</label>
							<input type="text" class="form-control" id="email" required [(ngModel)]="model.email"
								name="email" #email="ngModel">
							<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
								Email requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="alterEgo">Estado Civil</label>
							<select id="idEstadoCivil" #estadoCivil="ngModel" required class="form-control"
								[(ngModel)]="model.estadoCivil" name="estadoCivil" (change)="selectEstadoCivil();">
								<option [ngValue]="k._id" *ngFor="let k of listEstadoCivil">
									{{k.estadoCivil}}
								</option>
							</select>
							<div [hidden]="estadoCivil.valid || estadoCivil.pristine" class="alert alert-danger">
								Estado Civil es requerido
							</div>
						</div>
					</div>
					<div class="form-row">
						<div _ngcontent-c1="" class="form-group col-md-12" style="text-align: center;">
							<button type="submit" class="btn btn-success"
								[disabled]="!employeeForm.valid">Guardar</button>
							<button type="button" class="btn btn-primary"
								(click)="newHero(); employeeForm.reset()">Limpiar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<th scope="col">T. persona</th>
				<th scope="col">T. documento</th>
				<th scope="col">Nro. documento</th>
				<th scope="col">Nombres</th>
				<th scope="col">Ape. Paterno</th>
				<th scope="col">Ape. Materno</th>
				<th scope="col">Celular</th>
				<th scope="col">Email</th>
				<th scope="col">Estado Civil</th>
				<th scope="col"></th>
			</thead>
			<tbody>
				<!-- <tr *ngFor="let employee of employeeService.employees"> -->
				<tr *ngFor="let employee of listPersona">
					<td>{{ employee.idTipoPersona }}</td>
					<td>{{ employee.idTipoDocumento }}</td>
					<td>{{ employee.nroDocumento }}</td>
					<td>{{ employee.nombres }}</td>
					<td>{{ employee.apellidoPaterno }}</td>
					<td>{{ employee.apellidoMaterno }}</td>
					<td>{{ employee.celular }}</td>
					<td>{{ employee.email }}</td>
					<td>{{ employee.estadoCivil }}</td>
					<td>
						<!-- <a (click)="editEmployee(employee)">
							<i class="material-icons">edit</i>
						</a> -->
						<!-- <a (click)="deleteEmployee(employee._id, employeeForm)">
							<i class="material-icons">delete</i>
						</a> -->


						<button type="button" class="btn btn-default btn-sm  bg-primary"
							(click)="editEmployee(employee)">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm bg-danger"
							(click)="deleteEmployee(employee._id, employeeForm)">
							<span class="glyphicon glyphicon-remove "></span>
						</button>
						<!-- <a href="#">
							<span class="glyphicon glyphicon-remove bg-danger">Eliminar</span>
						</a> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>