<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a _ngcontent-c0="" href="index.html" style="height: 50px;"><img _ngcontent-c0="" alt="Area51 Training Center"
			class="img-responsive" src="../assets/logo.png" style="height: 50px; width: 126px;    color: white;"></a>
	<button class="navbar-toggler" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/persona">Persona <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/tipopersona">Tipo persona</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/tipodocumento">Tipo documento</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/estadocivil">Estado civil</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/">Cerrar sesion</a>
			</li>
		</ul>
	</div>
</nav>