<app-menu></app-menu>
<div class="container">
	<div [hidden]="submitted">
		<h1>Datos tipo persona</h1>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="addTipopersona(tipopersonaForm)" #tipopersonaForm="ngForm">
					<div class="form-row" style="padding-top:30px">
						<div class="form-group col-md-6">
							<label for="identidad">Identidad</label>
							<input type="text" class="form-control" id="identidad" required
								[(ngModel)]="model.identidad" name="identidad" #identidad="ngModel">
							<div [hidden]="identidad.valid || identidad.pristine" class="alert alert-danger">
								Identidad requerido
							</div>
						</div>

						<div class="form-group col-md-6">
							<label for="tipo">Tipo Persona</label>
							<input type="text" class="form-control" id="tipo" required [(ngModel)]="model.tipo"
								name="tipo" #tipo="ngModel">
							<div [hidden]="tipo.valid || tipo.pristine" class="alert alert-danger">
								Tipo requerido
							</div>
						</div>

					</div>

					<div class="form-row">
						<div _ngcontent-c1="" class="form-group col-md-12" style="text-align: center;">
							<button type="submit" class="btn btn-success"
								[disabled]="!tipopersonaForm.valid">Guardar</button>
							<button type="button" class="btn btn-primary"
								(click)="newtipopersona(); tipopersonaForm.reset()">Limpiar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<th scope="col">Identidad</th>
					<th scope="col">T. persona</th>
					<th scope="col"></th>
				</thead>
				<tbody>
					<!-- <tr *ngFor="let employee of employeeService.employees"> -->
					<tr *ngFor="let tipopersona of listaTipoPersona">
						<td>{{ tipopersona.identidad }}</td>
						<td>{{ tipopersona.tipo }}</td>

						<td>
							<!-- <a (click)="editEmployee(employee)">
                <i class="material-icons">edit</i>
              </a> -->
							<!-- <a (click)="deleteEmployee(employee._id, employeeForm)">
                <i class="material-icons">delete</i>
              </a> -->


							<button type="button" class="btn btn-default btn-sm  bg-primary"
								(click)="edittipopersona(tipopersona)">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm bg-danger"
								(click)="deleteTipoPersona(tipopersona._id, tipopersonaForm)">
								<span class="glyphicon glyphicon-remove "></span>
							</button>
							<!-- <a href="#">
                <span class="glyphicon glyphicon-remove bg-danger">Eliminar</span>
              </a> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>